.container{
	width: 100vw;
	margin: 40px auto;
	overflow-x: scroll;
}
.container__table{
	width: 100%;
	
}

@media(max-width:767px) {
	.tabla > div > div {
		box-shadow: none !important;
		background-color: transparent;
	}
}