@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;
background-color: #f5f7f8fb;
}

body{
	margin: 0;
	padding: 0;
	width: 100vw;
	overflow-x: hidden;
}
